.start>div>h1 {

    font-size: 450%;
}

.start>div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.coverpage {
    background-color: #F5F5F5;
    height: 90vh;
    display: flex;
    overflow: auto;
    scrollbar-width: none;

}

.coverpage::-webkit-scrollbar {
    display: none;

}

.coverpage>div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.coverpage>div>h1 {

    color: #D4AF37;
    font-size: 450%;
}

.coverpage>div>p {
    color: #111827;
}

* {
    margin: 0%;
    padding: 0%;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}


@media (max-width:727px) {
    .coverpage>div>h1 {
        font-size: 250%;
    }

    .coverpage>div>p {
        color: #111827;
        font-size: 50%;
    }


    .start>div>h1 {
        font-size: 250%;
    }

    .start>div>p {

        font-size: 50%;
    }

}





.start {
    width: 100vw;
    height: 100vh;
    background-color: #111827;
    color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.start>div {
    padding: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.forimagebackground {
    position: absolute;
    border-radius: 10px;
    width: 30vmax;
    height: 30vmax;
    z-index: 1;
    background-image: url("./images/richman.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.forimage {
    position: absolute;
    width: 30vmax;
    height: 30vmax;
    z-index: 2;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);


}

.forimagebackground:hover {

    background-color: #00a3c4;
    width: 32vmax;
    height: 32vmax;
    transform: translateY(-100px);
}