.start>div>h1 {

    font-size: 450%;
}

.start>div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.coverpage {
    background-color: #F5F5F5;
    height: 90vh;
    display: flex;
    overflow: auto;
    scrollbar-width: none;

}

.coverpage::-webkit-scrollbar {
    display: none;

}

.coverpage>div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.coverpage>div>h1 {

    color: #D4AF37;
    font-size: 450%;
}

.coverpage>div>p {
    color: #111827;
}

* {
    margin: 0%;
    padding: 0%;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}


@media (max-width:727px) {
    .coverpage>div>h1 {
        font-size: 250%;
    }

    .coverpage>div>p {
        color: #111827;
        font-size: 50%;
    }


    .start>div>h1 {
        font-size: 250%;
    }

    .start>div>p {

        font-size: 50%;
    }

    .counter-section {
        flex-direction: column;
    }

}





.start {
    width: 100vw;
    height: 100vh;
    background-color: #111827;
    color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.start>div {
    padding: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.forimagebackground {
    position: absolute;
    border-radius: 10px;
    width: 30vmax;
    height: 30vmax;
    z-index: 1;
    background-image: url("./images/richman.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.forimage {
    position: absolute;
    width: 30vmax;
    height: 30vmax;
    z-index: 2;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);


}

.forimagebackground:hover {

    background-color: #00a3c4;
    width: 32vmax;
    height: 32vmax;
    transform: translateY(-100px);
}


/* Section */
.counter-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Cards */
.counter-box {
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    width: 250px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Number animation */
.number {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, #38bdf8, #6366f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease forwards;
}

/* Delay each */
.counter-box:nth-child(1) .number {
    animation-delay: 0.2s;
}

.counter-box:nth-child(2) .number {
    animation-delay: 0.6s;
}

.counter-box:nth-child(3) .number {
    animation-delay: 1s;
}

/* Animation */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}