.coverpage {
    background-color: #F5F5F5;
    height: 90vh;
    display: flex;
    overflow: auto;
    scrollbar-width: none;

}

.coverpage::-webkit-scrollbar {
    display: none;

}

.coverpage>div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.coverpage>div>h1 {

    color: #D4AF37;
    font-size: 450%;
}

.coverpage>div>p {
    color: #111827;
}

* {
    margin: 0%;
    padding: 0%;
}

.parant-profile-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    padding: 3%;
    row-gap: 2%;
    column-gap: 10%;
}



.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.profile-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    animation: moveUpDown 2s infinite;
    /* 2s = 1s up + 1s down */
    width: 300px;
    padding: 40px 20px;
    background: #ffffff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.profile-image-wrapper {
    width: 140px;
    height: 140px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #f2f2f2;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NAME */
.profile-name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #222;
}

/* ROLE */
.profile-role {
    font-size: 15px;
    font-weight: 500;
    color: #00a3c4;
    margin-bottom: 6px;
}

/* LOCATION */
.profile-location {
    font-size: 14px;
    color: #777;
}