form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 6%;
    transition: 0.5s ease-in-out;


}




/*  ///////*/


.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(141, 141, 144);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);

}

.first-container {

    width: 60vw;
    height: 70vh;
    background-image: url("./images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
    border-radius: 45px;

    position: fixed;
}

.second-container {
    width: 60vw;
    height: 70vh;
    background: linear-gradient(135deg, #0f202700, #203a43, #2c5364);
    border-radius: 45px;
    position: fixed;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.forform {

    padding-top: 25px;
    width: 100%;
    height: 70vh;
    border: none;
    outline: none;
    gap: 4px;
    display: flex;
    flex-direction: column;
    transition: 0.35s ease-in-out;

}

.forform input {
    width: 50%;
    padding: 12px 15px;
    border: none;
    outline: none;
    background-color: #2a2f45;
    color: #fff;


}

.forform h1,
p,
form,
input {
    transition: all 1s ease-in-out;

}

.forform input:focus {

    border: 1px solid #2f80ed;
    box-shadow: 0 0 10px rgba(47, 128, 237, 0.6);
}

.forform button {
    width: 50%;
    padding: 12px 15px;
    background: linear-gradient(135deg, #697073, #e0e8ea, #c7cfd2);
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    border: none;

}



.forform button:hover {
    transition: 0.35s ease-in-out;
    border: 1px solid #2f80ed;
    box-shadow: 0 0 10px rgba(47, 128, 237, 0.6);
    background: #2f80ed;
}

@media (max-width:450px) {
    .first-container {

        width: 100vw;
        height: 100vh;

    }

    .second-container {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(110deg, #0f202700, #203a43be, #2c5364);
        border-radius: 0px;

    }

}